.login {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
}

p.center {
  text-align: center;
  color: red;
}
