.login {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
}

.card-element {
    margin-top: 0;
    margin-bottom: 1rem;
}

.color-grad {
    background: linear-gradient(-45deg, DeepSkyBlue, Fuchsia);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

