<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<!-- class="color-grad" -->
<body>
<nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: white;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            Password Manager |
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item" style="padding-top: 5px">
                <a href="/" class="btn btn-outline-success my-2 my-sm-0" role="button">Home</a>
            </li>
            <li class="nav-item" style="padding-top: 5px; margin-left: 5px">
                <button class="btn btn-outline-success my-2 my-sm-0" id="logoutButton">Logout</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron shadow-lg touch-border" style="margin-top: 20px; background-color: white;">
        <h1 class="display-4">Hello, ${{account.username}}!</h1>
        <p class="lead">Here you can manage your account-settings.</p>
        <hr class="my-4">
        <h5>Change password</h5>
            <p class="lead">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text touch"><span class="fas fa-key" aria-hidden="true"></span></span>
                </div>
                <input class="form-control card-element" id="passwordOld" type="password" placeholder="Enter old password"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary input-group-text touch" type="button" onclick="passwdToggle('passwordOld');">
                        <span class="fas fa-eye" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text touch"><span class="fas fa-key" aria-hidden="true"></span></span>
                </div>
                <input class="form-control card-element" id="passwordNew" type="password" placeholder="Enter new password"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary input-group-text touch" type="button" onclick="passwdToggle('passwordNew');">
                        <span class="fas fa-eye" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text touch"><span class="fas fa-key" aria-hidden="true"></span></span>
                </div>
                <input class="form-control card-element" id="passwordNewConfirm" type="password" placeholder="Re-enter new password"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary input-group-text touch" type="button" onclick="passwdToggle('passwordNewConfirm');">
                        <span class="fas fa-eye" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="alert alert-danger card-element" id="alert" role="alert" hidden></div>
            <div class="alert alert-success card-element" id="success" role="alert" hidden>""</div>
            <button class="btn btn-primary touch2" id="submitPassword">Submit</button>
            <h5 style="margin-top: 15px;">Delete account</h5>
            <p class="lead">Warning, this operation can not be undone!</p>
            <span class="input-group-btn" style="margin-top: 15px;">
                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="deleteAccount();">
                    <span class="fas fa-trash" aria-hidden="true"></span>
                </button>
            </span>
            <div class="alert alert-danger card-element" id="end" role="alert" hidden></div>
        </p>
    </div>
</div>

<button type="button" id="deleteTrigger" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" hidden></button>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Delete account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this account. <br>
                This operation can not be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteAccountReally()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<th:logout/>
<script>
    $('#submitPassword').on('click', function() {updatePassword() });
    $('#passwordOld').keypress(function (e) {
        if (e.which == 13) {
            updatePassword()
        }
    });
    $('#passwordNew').keypress(function (e) {
        if (e.which == 13) {
            updatePassword()
        }
    });
    $('#passwordNewConfirm').keypress(function (e) {
        if (e.which == 13) {
            updatePassword()
        }
    });
    function updatePassword() {
        if ($("#passwordOld").val().replaceAll(" ", "") == "" || $("#passwordNew").val().replaceAll(" ", "") == "" ||
            $("#passwordNewConfirm").val().replaceAll(" ", "") == "") {
            $("#alert").text("Please fill the form");
            $("#alert").removeAttr("hidden");
            window.setTimeout(function() {$("#alert").attr("hidden", true);}, 5000);
        }
        else if($("#passwordNew").val().replaceAll(" ", "") != $("#passwordNewConfirm").val().replaceAll(" ", "")) {
            $("#alert").text("New password entries do not match");
            $("#alert").removeAttr("hidden");
            window.setTimeout(function() {$("#alert").attr("hidden", true);}, 5000);
        }
        else {
            $.ajax({
                url: "${{ipaddress}}/updateuserpassword",
                type: 'POST',
                data: {
                    "name": "${{account.username}}",
                    "passwordOld": $("#passwordOld").val().replaceAll(" ", ""),
                    "passwordNew": $("#passwordNew").val().replaceAll(" ", "")
                },
                async: true,
                success: function (data) {
                    $("#alert").attr("hidden", true);
                    $("#success").text("Password successfully updated");
                    $("#success").removeAttr("hidden");
                    $("#passwordOld").val("");
                    $("#passwordNew").val("");
                    $("#passwordNewConfirm").val("");
                    window.setTimeout(function() {$("#success").attr("hidden", true);}, 5000);
                },
                statusCode: {
                    424: function (xhr) {
                        $("#alert").text("Wrong original password entered. Try again!");
                        $("#alert").removeAttr("hidden");
                        window.setTimeout(function() {$("#alert").attr("hidden", true);}, 5000);
                    },
                    403: function (xhr) {
                        $("#alert").text("Something went wrong. Try again!");
                        $("#alert").removeAttr("hidden");
                        window.setTimeout(function() {$("#alert").attr("hidden", true);}, 5000);
                    }
                }
            })
        }
    }

    function deleteAccount() {
        $('#deleteTrigger').click();
    }

    function deleteAccountReally() {
        $.ajax({
                url: "${{ipaddress}}/deleteuser",
                type: 'POST',
                data: {
                    "name": "${{account.username}}",
                },
                async: true,
                success: function (data) {
                    $("#end").attr("hidden", true);
                    window.location.href = "${{ipaddress}}/";
                },
                statusCode: {
                    403: function (xhr) {
                        $("#end").text("Something went wrong. Try again!");
                        $("#end").removeAttr("hidden");
                        window.setTimeout(function() {$("#end").attr("hidden", true);}, 5000);
                    }
                }
            })
    }

    function passwdToggle(id) {
        var x = document.getElementById(id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function getParams(data) {
        var params = {};
        var vars = data.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            params[pair[0]] = decodeURIComponent(pair[1]);
        }
        return params;
    }

    /** Utility functions + Bootstrap */

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };

</script>

</body>
</html>