<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<!-- class="color-grad" -->
<body>
    <div class="container">
        <div class="card shadow-lg text-center mx-auto login" id="accountCard" style="width: 18rem;">
            <div class="row">
                <div class="card-body">
                    <h3 class="card-title text-info">LOGIN</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-user" aria-hidden="true"></span></span>
                        </div>
                        <input class="form-control card-element" id="username" type="text" placeholder="Username" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fas fa-key" aria-hidden="true"></span></span>
                        </div>
                        <input class="form-control card-element" id="password" type="password" placeholder="Password"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary input-group-text" type="button" onclick="passwdToggle(1);">
                                <span class="fas fa-eye" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-danger card-element" id="alert" role="alert" hidden>""</div>
                    <button class="btn btn-primary" id="submitButton">Submit</button>
                    <!--<div onclick="cardToggle()"><h5>Don't have an account yet? Create one!</h5></div>-->
                    <button type="button" class="btn btn-link" onclick="cardToggle()">Don't have an account yet?<br> Create one!</button>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
            <div class="card shadow-lg text-center mx-auto login" id="createCard" style="width: 18rem;" hidden>
                <div class="row">
                    <div class="card-body">
                        <button class="btn btn-outline-secondary input-group-text d-inline-block float-left" type="button" onclick="cardToggle();">
                            <span class="fas fa-arrow-left" aria-hidden="true"></span>
                        </button>
                        <h3 class="card-title text-info d-inline-block" style="margin-left: -40px">CREATE</h3>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fa fa-user" aria-hidden="true"></span></span>
                            </div>
                            <input class="form-control card-element" id="cusername" type="text" placeholder="Username" />
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-key" aria-hidden="true"></span></span>
                            </div>
                            <input class="form-control card-element" id="cpassword" type="password" placeholder="Password"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" type="button" onclick="passwdToggle(2);">
                                    <span class="fas fa-eye" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-key" aria-hidden="true"></span></span>
                            </div>
                            <input class="form-control card-element" id="cpasswordconfirm" type="password" placeholder="Password"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" type="button" onclick="passwdToggle(3);">
                                    <span class="fas fa-eye" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="alert alert-danger card-element" id="calert" role="alert" hidden>""</div>
                        <button class="btn btn-primary" id="csubmitButton">Submit</button>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function passwdToggle(nr) {
            if (nr == 1) {
                var x = document.getElementById("password");
            }
            else if (nr == 2) {
                var x = document.getElementById("cpassword");
            }
            else {
                var x = document.getElementById("cpasswordconfirm");
            }
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
        }
        //var a = document.getElementById("create");
        //a.addEventListener('click', cardToggle(), false);
        function cardToggle() {
            if(document.getElementById("createCard").hasAttribute("hidden")) {
                $("#createCard").removeAttr("hidden");
                $("#accountCard").attr("hidden", true);
            }
            else {
                $("#accountCard").removeAttr("hidden");
                $("#createCard").attr("hidden", true);
            }
        }

        $('#csubmitButton').on('click', function() {register() });
        $('#cusername').keypress(function (e) {
            if (e.which == 13) {
                register()
            }
        });
        $('#cpassword').keypress(function (e) {
            if (e.which == 13) {
                register()
            }
        });
        $('#cpasswordconfirm').keypress(function (e) {
            if (e.which == 13) {
                register()
            }
        });
        function register() {
            if ($("#cpassword").val() != $("#cpasswordconfirm").val()) {
                $("#calert").text("Passwords do not match");
                $("#calert").removeAttr("hidden");
            }
            else if ($("#cusername").val() == "" || $("#cpassword").val() == "") {
                $("#calert").text("Please fill the form");
                $("#calert").removeAttr("hidden");
            }
            else {
                $.ajax({
                    url: "${{ipaddress}}/register",
                    type: 'POST',
                    data: {
                        "username": $("#cusername").val(),
                        "password": $("#cpassword").val()
                    },
                    async: true,
                    success: function (data) {
                        //var test = getParams(data);
                        //console.log(test);
                        window.location.href = "${{ipaddress}}/index"
                    },
                    statusCode: {
                        403: function (xhr) {
                            $("#calert").text("Sorry, this user already exists");
                            $("#calert").removeAttr("hidden");
                        }
                    }
                })
            }
        }

        function getParams(data) {
            var params = {};
            var vars = data.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                params[pair[0]] = decodeURIComponent(pair[1]);
            }
            return params;
        }
    </script>

    <th:login/>


</body>
</html>