<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<body class="color-grad">
    <div class="container">
        <div class="card shadow-lg text-center mx-auto login" style="width: 18rem;">
            <div class="row">
                <div class="card-body">
                    <h3 class="card-title text-info">LOGIN</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fa fa-user" aria-hidden="true"></span></span>
                        </div>
                        <input class="form-control card-element" id="username" type="text" placeholder="Username" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fas fa-key" aria-hidden="true"></span></span>
                        </div>
                        <input class="form-control card-element" id="password" type="password" placeholder="Password"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary input-group-text" type="button" onclick="passwdToggle();">
                                <span class="fas fa-eye" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-danger card-element" id="alert" role="alert" hidden>""</div>
                    <button class="btn btn-primary" id="submitButton">Submit</button>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function passwdToggle() {
            var x = document.getElementById("password");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
        }
    </script>

    <th:login/>


</body>
</html>