<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallo test!</title>
</head>
<body>
    <h1>Hallo testä!</h1> <span th:text="Hello, ${message}"></span>
    <table>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.login}">...</td>
                <td th:text="${user.name}">...</td>
            </tr>
            <tr>
                <td colspan="2" th:text="${user.address}">...</td>
            </tr>
        </th:block>
    </table>
</body>
</html>