<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<!-- class="color-grad" -->
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #000;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img th:src="@{/favicon.ico}" width="30" height="30" class="d-inline-block align-top" alt="">
            Salt
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" id="logoutButton">Search</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" id="postTest">Post</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container" style="background-color: white">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><span class="fa fa-user" aria-hidden="true"></span></span>
            </div>
            <input class="form-control card-element" id="name" type="text" placeholder="Username" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><span class="fas fa-key" aria-hidden="true"></span></span>
            </div>
            <input class="form-control card-element" id="password" type="password" placeholder="Password"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary input-group-text" type="button" onclick="passwdToggle();">
                    <span class="fas fa-eye" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="alert alert-danger card-element" id="alert" role="alert" hidden>""</div>
        <button class="btn btn-primary" id="submitButton">Submit</button>
    </div>
    <div class="container" style="background: aquamarine">
        <th:block th:each="entry : ${entries}">
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black" th:text="${entry.name}">...</td>
                <td th:text="${entry.password}">...</td>
            </tr>
            <tr>
                <td colspan="2" th:text="${entry.tag}">...</td>
            </tr>
        </th:block>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<th:logout/>
<script>
    $('#submitButton').on('click', function() {addEntry() });
    $('#name').keypress(function (e) {
        if (e.which == 13) {
            register()
        }
    });
    $('#password').keypress(function (e) {
        if (e.which == 13) {
            register()
        }
    });
    function addEntry() {
        if ($("#name").val() == "" || $("#password").val() == "") {
            $("#alert").text("Please fill the form");
            $("#alert").removeAttr("hidden");
        }
        else {
            $.ajax({
                url: "https://localhost:8080/addentry",
                type: 'POST',
                data: {
                    "name": $("#name").val(),
                    "password": $("#password").val(),
                    "tag": ""
                },
                async: true,
                success: function (data) {
                    $("#alert").attr("hidden", true);
                    var test = getParams(data);
                    console.log(test);
                },
                statusCode: {
                    403: function (xhr) {
                        $("#alert").text("Sorry, a password with the same name already exists");
                        $("#alert").removeAttr("hidden");
                    }
                }
            })
        }
    }



    function passwdToggle() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function getParams(data) {
        var params = {};
        var vars = data.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            params[pair[0]] = decodeURIComponent(pair[1]);
        }
        return params;
    }

    $('#postTest').on('click', function() {postT() });
    function postT() {
        $.ajax({
            url: "https://localhost:8080/testpost",
            type: 'POST',
            async: true,
            success: function(data){
                var test = getParams(data);
                console.log(test);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }

        })
    }
</script>

</body>
</html>